.navbar {
  z-index: 999;
  border: 1px solid white;
  background-color: black;
  border-radius: 50rem;
  justify-content: center;
  align-items: center;
  max-width: 62rem;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: .625rem 1em .625rem 1.5rem;
  font-size: 20px;
  display: flex;
  position: fixed;
  top: 1rem;
  left: 0%;
  right: 0%;
}

.nav-container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  color: var(--white);
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr min-content 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.logo {
  grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    flex: 0 auto;
    align-items: center;
    max-height: 1.5rem;
    display: flex;
    float: left;
    color: white;
    text-decoration: none;
    position: relative;
}

.logo span {
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: 2px solid white;
  padding: 2px;
}

.links {
  grid-column-gap: 1em;
    grid-row-gap: 1em;
    flex: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    display: flex;
    float: right;
    position: relative;
}

.links a {
  cursor: pointer;
    padding: 0;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    transition: all .25s;
    vertical-align: top;
    /* color: #222; */
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: white;
}

.current {
  color: #cbfb45;
  text-decoration: none;
}

.links a:hover {
  color: #ffffff;
}

.cart-main {
  background-color: #000;
    border: .01em solid #fff;
    border-radius: 2.5rem;
    padding: .4rem 1rem;
  position: relative;
  color: #fff;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    display: flex;
}

.cart-summary {
  font-size: 14px;
  background-color: white;
  color: black;
  padding: 2px 6px;
  border-radius: 24px;
}

